# Copyright 2021, 2022, 2023, 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

pylint == 3.1.0

# Pytype isn’t supported on Windows,
# cf. https://github.com/google/pytype/tree/2024.03.19#requirements
pytype == 2024.3.19 ; sys_platform == 'linux' or sys_platform == 'darwin'

commonmark == 0.9.1
