# Copyright 2021, 2022, 2023, 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Update MODULE.bazel.lock files
on: workflow_dispatch

permissions:
  contents: read

jobs:
  operating-systems:
    name: Bazel
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - id: setup
        name: Set up workspace
        uses: ./.github/actions/set-up
      - name: Regenerate lockfiles
        # Use disk cache to speed up runs.
        run: >
          python build.py
          --bazel=bazelisk
          --msys2=${{steps.setup.outputs.msys2}}
          --action-cache=${{steps.setup.outputs.action-cache}}
          --repository-cache=${{steps.setup.outputs.repository-cache}}
          -- lock
        env:
          USE_BAZEL_VERSION: latest
          # https://github.com/bazelbuild/bazelisk/issues/88#issuecomment-625178467
          BAZELISK_GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Upload lockfiles
        uses: actions/upload-artifact@v4
        with:
          name: lockfiles-${{runner.os}}
          path: '**/MODULE.bazel.lock'
          if-no-files-found: error
