# Copyright 2021, 2022, 2023, 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Update MODULE.bazel.lock files
on: workflow_dispatch

permissions:
  contents: read

jobs:
  update:
    name: Update lockfiles
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - id: setup
        name: Set up workspace
        uses: ./.github/actions/set-up
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
      - name: Regenerate lockfiles
        # Use disk cache to speed up runs.
        run: python build.py -- lock
        env:
          USE_BAZEL_VERSION: latest
      - name: Upload lockfiles
        uses: actions/upload-artifact@v4
        with:
          name: lockfiles-${{runner.os}}
          path: '**/MODULE.bazel.lock'
          if-no-files-found: error
  merge:
    name: Merge lockfiles
    needs: update
    runs-on: ubuntu-latest
    steps:
      - id: download
        name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: lockfiles-*
      - name: Merge lockfiles
        shell: bash
        run: |
          set -euxC
          for dir in . examples/ext; do
            mkdir -p -- "${dir}"
            out="${dir}/MODULE.bazel.lock"
            in=(lockfiles-*/"${out}")
            jq -s -e 'reduce .[] as $i ({}; . * $i)' -- "${in[@]}" > "${out}"
            rm -- "${in[@]}"
          done
      - name: Upload merged files
        uses: actions/upload-artifact@v4
        with:
          name: lockfiles
          path: '**/MODULE.bazel.lock'
          if-no-files-found: error
